name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Install dependencies
      run: dotnet add WooShipmentTrackingSharp package Newtonsoft.Json
    - name: Restore dependencies
      run: dotnet restore -v d
    - name: Clean
      run: dotnet clean ./WooShipmentTrackingSharp.sln --configuration Release && dotnet nuget locals all --clear
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Publish  
      uses: brandedoutcast/publish-nuget@v2.5.2  
      with:   
        PROJECT_FILE_PATH: WooShipmentTrackingSharp/WooShipmentTrackingSharp.csproj  
        NUGET_KEY: ${{secrets.NUGET_API_KEY}} 
